.content {
  margin-left: 250px;     /* push content to the right of sidebar */
  margin-top: 80px;       /* push below navbar */
  padding: 20px;
  height: calc(100vh - 80px - 50px); /* viewport minus navbar & footer */
  overflow-y: auto;       /* only main content scrolls */
}

.home_column{
}
