.avatar {
  width: 40px;
  height: 40px;
}

.commentAvatar {
  width: 32px;
  height: 32px;
}

.cartText{
  background-color: lightgray;
  color: black;
  padding: 5px 0px 10px 15px;
  font-size: 20px;
  border-radius: 1.0rem;
}
