 /* body {
  background-image: url('../src/Images/Background_Login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Keeps image still while scrolling */
 /*  min-height: 100vh; */
 /*
} 
*/

/* Login.jsx - Add Background Images  */
 .login-bg-img {
   background-image: url('../src/Images/Background_Login.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   /* Keeps image still while scrolling */
   min-height: 100vh;
 }

 /* ForgotPassword.jsx - Add Background Images */
 .forgot-password-bg-img {
   background-image: url('../src/Images/Background_Forgot_Password.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   /* Keeps image still while scrolling */
   min-height: 100vh;
 }

  /* Register.jsx - Add Background Images */
 .register-bg-img {
   background-image: url('../src/Images/Background_Register.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   /* Keeps image still while scrolling */
   min-height: 100vh;
 }

/* Home.jsx - Add Background Images */
 .home-bg-img {
   background-image: url('../src/Images/Background_Home.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   /* Keeps image still while scrolling */
   min-height: 100vh;
 }

/* Profile.jsx - Add Background Images */
 .profile-bg-img {
   background-image: url('../src/Images/Background_Profile.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   /* Keeps image still while scrolling */
   min-height: 100vh;
 }
