 /* body {
  background-image: url('../src/Images/Background_Login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* Keeps image still while scrolling */
 /*  min-height: 100vh; */
 /*
} 
*/

 .login-bg-img {
   background-image: url('../src/Images/Background_Login.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   /* Keeps image still while scrolling */
   min-height: 100vh;
 }

 .forgot-password-bg-img {
   background-image: url('../src/Images/Background_Forgot_Password.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   /* Keeps image still while scrolling */
   min-height: 100vh;
 }

 .register-bg-img {
   background-image: url('../src/Images/Background_Register.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   /* Keeps image still while scrolling */
   min-height: 100vh;
 }

 .home-bg-img {
   background-image: url('../src/Images/Background_Home.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   /* Keeps image still while scrolling */
   min-height: 100vh;
 }
 